/**
 * @file
 * copenhagen.css
 * widgets and elements used throughout the site
 * ------------------------------------
 *
 * ------------------------------------
 * colors:
 * ------------------------------------
 * blue:       #006A87
 * blue/gray:  #D1D9D7
 * black:      #050505
 * gray:       #666666
 * red:        #B41630
 * red dark    #790f21
 * ------------------------------------*/

/** layout.css overrides **/

body {
  background: #e5e5e5 url(../images/bg.png) repeat-x 0 0;
  color: #444;
}

#container {
  background: transparent url(../images/bg-header.png) no-repeat center 0;
}


/* header */
#pageheader {
  background: transparent url(../images/bg-header.png) no-repeat center -39px;
  margin: 0 0 0 1px;
}


/* sitename */
#site-name {
  margin: 0px 17px 0 720px;
  padding: 17px 0 0 0;
  height: 22px;
}

body.admin-menu #site-name {
  margin: 12px 17px 0 720px;
}

#site-name a {
  height: 24px;
  width: 252px;
  background: transparent url(../images/logo.png) no-repeat 0 0;
}


/*
  Menu
--------------------------------------*/
#navigation {
  font-family: "Gill Sans",  sans-serif;
}

#navigation .navigation-en-flag {
    border: none;
    float: right;
    margin-top: 7px;
}

#navigation li {
  float: left; 
  height: 30px; 
  list-style: none; 
  margin: 0 10px;
  padding: 0 0 0 10px;
  position: relative;
}

#navigation li.first {
  margin: 0 10px 0 0;
  padding: 0 0 0 10px;
}

#navigation li a {
  margin: 0;
  padding: 6px 10px 0 0;
  height: 30px;
}

#navigation li.active {
  background: url(../images/menu-left.png) no-repeat left top;
  padding-left: 10px;
  margin-left: 10px;
}

#navigation li.active a {
  color: #eee;
  background: url(../images/menu-right.png) no-repeat right top;
  font-weight: normal;
}

#navigation a {
  color: #fff;
}


/*
  search block
--------------------------------------*/
#ting-search-form {
  background: transparent url(../images/search.png) no-repeat 0 0;
}

#ting-search-form div.example li {
  margin: 0 2em 0 0;
}

#ting-search-form div.example,
#ting-search-form div.example a {
  color: #eccdd3;
}


/*
  Account block
--------------------------------------*/
/*login form*/
#user-login-form {
  background: transparent url(../images/logind.png) no-repeat 0 0;
}



/** typography.css overrides **/
a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #006a87;
}

.subject a {
  color: #fff;
  background-color: #b41630;
}

.meta a, .meta a:link, .meta a:visited, .meta a:active {
  color: #006a87;
}

 /*999*/
.author a, .author a:link, .author a:visited, .author a:active {
  color: #006a87;
}


/** dynamo.css overrides **/

ul.pager li a {
  color: #006A87;
}

#account #edit-remember-me-wrapper label {
  color: #000;
}


#block-ding-wayf {
  clear: left;
}

/*-- search  --*/
#pager a, #pager a:link, #pager a:active {
  color: #006A87;
}


.view-user-comments-list .subject a,
.view-user-comments-list .subject a:link,
.view-user-comments-list .subject a:visited,
.view-user-comments-list .subject a:active{
  color: #006a87;
}

#ting-facet-browser li li {
  color: #006a87;
}



/** ting.css overrides **/

/* More spacspace around content inline images */
.node .content img {
  background: #eee;
  color: #aaa;
  margin: 0 10px 10px 10px;
  text-align: center;
}

/*
  recommendations - others did loan ...
------------------------------------*/
.pane-recommendation_list ul.ting-recommendation li a {
  color: #006A87;
}


#periodical-issue-list .year h3 {
  color: #006a87;
}


#periodical-issue-list a {
  color: #006a87;
}



/** biblo.css overrides **/

/* =======================================
  pages
/* ------------------------------------- */

ul.menu li.leaf > a.active,
ul.menu li > a.active,
li.active-trail > a {
  color: #006A87;
}


/* Frontpage event list */
#event-list li div.info h4 a {
  font-size: 13px;
  line-height: 15px;
  font-weight: normal;
}

#event-list li .info .subject a {
  color: #FFF;
  background-color: #959595;
}

#event-list li .today .info .subject a {
  background-color: #959595;
}

#event-list li .target-group {
  text-transform: uppercase;
}


#event-list li .meta {
  clear: both;
}

#event-list li .meta a,
#event-list li .meta span {
  color: #666;
}

#event-list li .meta .time {
  font-size: 100%;
  line-height: inherit;
  font-weight: normal;
}

/** developer.css overrides **/
.pane-alma_user_reservations_details .update-controls-button .edit-remove #edit-remove {
  color: #006A87;
}

/** Feedback tab **/
a#ding-feedback-tab {
  background-color: #222;
  background-image: url(../images/feedback_trans_tab.png);
  color: white;
  cursor: pointer;
  height: 102px;
  left: auto;
  margin-left: auto;
  margin-right: 0px;
  overflow: hidden;
  position: fixed;
  right: 0px;
  text-indent: -100000px;
  top: 25%;
  width: 35px;
  z-index: 100000;
}

/** Styling for jQuery UI dialogs **/
.ui-dialog {
  border-color: #B41630;
  -moz-box-shadow: 0 0 1em rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 1em rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 1em rgba(0,0,0,0.5);
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
}

.ui-dialog .ui-dialog-title {
  color: black;
  font-size: 18px;
}

/* Ding tabroll */
#featured {
  width: 680px;
  background-color: transparent;
  overflow: hidden;
}

#featured ul.ui-tabs-nav {
  width: 220px;
  left: 460px;
  border: 0 none;
  font-family: inherit;
}

#featured ul.ui-tabs-nav a:hover {
  background-color: #777;
  /* We have to use !important to remove the underline, since it's
   * defined with !important in dynamo's typography.css */
  text-decoration: none !important;
}

#featured ul.ui-tabs-nav li {
  border: 0 none;
  border-right: 0 none;
}

#featured ul.ui-tabs-nav li.ui-tabs-selected {
  margin-left: -12px;
  padding-left: 12px;
  background: transparent url(../images/tab-active.png) left top no-repeat;
}

#featured ul.ui-tabs-nav li.ui-tabs-selected a {
  background: #B41630;
}

#featured li.ui-tabs-nav-item a {
  width: 195px;
  height: 42px;
  padding-right: 5px;
  background: #4E4E4E;
  border-bottom: 1px solid #959595;
  font-weight: normal;
}

#featured li.count-4 a {
  border-bottom: 0 none;
}


/** Ding eresource **/

.node-eresource .field-teaser,
.node-eresource .field-ding-eresource-availabilit {
  margin-bottom: 1em;
}

.node-eresource .field-link,
.node-eresource .field-ding-eresource-availabilit {
  font-weight: bold;
}

.node-eresource .field-link span,
.node-eresource .field-ding-eresource-availabilit span {
  font-weight: normal;
}

/** User library status page **/

#ding-reservation-list-form .container-inline-date .form-description {
  clear: left;
}

#ding-reservation-list-form #edit-remove {
  color: #B41630;
}

/** Promoted FAQ list (for the front page) **/
.pane-faq_question_list-panel_pane_2 h3 {
  background-color: #B41630;
  color: white;
  font-size: 12px;
  font-weight: normal;
  margin-top: 8px;
  padding: 0 10px;
  text-transform: uppercase;
}

.pane-faq_question_list-panel_pane_2 ul {
  margin: 0;
  padding: 0;
}

.pane-faq_question_list-panel_pane_2 li {
  background-image: none;
  font-size: 11px;
  list-style-image: url(../images/menu-collapsed.png);
  list-style-type: circle;
  margin: 0 0 0 1.2em;
  padding: 0;
}

/** Staff profile page **/

.node-profile .profile-info {
  margin: 1em 0;
}

.node-profile .profile-info img {
  float: left;
  margin-right: 15px;
}

.node-profile .profile-info dl {
  float: left;
}

.node-profile .profile-info dt {
  clear: left;
  float: left;
  font-weight: bold;
  margin-bottom: 0.4em;
  width: 10em;
}

.node-profile .profile-info dd {
  float: left;
  margin-bottom: 0.4em;
}

/** Restore lists to standard styling within the tema site description. **/
.field-tema-description ul,
.ding-node .content ul,
.pane-node_body_titleul,
.node-eresource .info ul,
.node-faq_question .info ul {
  margin: 0.5em 0;
}

.field-tema-description ul li,
.ding-node .content ul li,
.pane-node_body_title ul li,
.node-eresource .info ul li,
.node-faq_question .info ul li {
  list-style: disc outside url();
  margin: 0 0 0.5em 2em;
  padding: 0;
}

.field-tema-description ol,
.ding-node .content ol,
.pane-node_body_title ol,
.ding-node ol {
  margin: 0 0 0.5em 2.5em;
  padding: 0;
}

.field-tema-description ol li,
.ding-node .content ol li,
.pane-node_body_title ol li,
.ding-node ol li  {
  list-style: decimal outside;
  margin: 0 0 0.5em 0;
}


/** Highlight the active eresource category **/
#eresource-page .tab-navigation a.active {
  font-weight: bold;
  text-shadow: 1px 1px 0px #ccc;
}
